<!DOCTYPE html>
<html ng-app="poly-form-validation">
  <head>
    <title>Example</title>
    <meta name="description" content="Example">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/poly-form-validation/lib/css/poly-form-validation.css">
  </head>
  <body>
    <div class="container">
      <form name="ValidationForm" ng-cloak="true">
        <form-tabs>
          <form-tab tab-title="Validation">
            <div class="row">
              <div class="col-md-12">
                <form-control class="col-md-6">
                  <label for="validatePassword0">password</label>
                  <input name="validatePassword" id="validatePassword0" ng-model="ValidationForm.validatePasswordValue" autocomplete="validatePassword" type="password" placeholder="password" value="test" ng-required="true" class="form-control">
                  <valid-icon></valid-icon>
                  <loader-icon></loader-icon>
                  <error-message class="ng-required">Field is required</error-message>
                </form-control>
                <form-control class="col-md-6">
                  <label for="uiValidate1">ui-validate</label>
                  <input name="uiValidate" id="uiValidate1" ng-model="uiValidate1" autocomplete="uiValidate" type="password" placeholder="ui-validate" value="test" ui-validate="'$value==ValidationForm.validatePasswordValue'" ui-validate-watch="'ValidationForm.validatePasswordValue'" ng-required="true" class="form-control">
                  <valid-icon></valid-icon>
                  <loader-icon></loader-icon>
                  <error-message class="ng-required">Field is required</error-message>
                  <error-message class="ui-validate">Validation failed</error-message>
                </form-control>
              </div>
              <div class="col-md-12">
                <form-control class="col-md-6">
                  <label for="email2">Email</label>
                  <input name="email" id="email2" ng-model="email2" autocomplete="email" type="email" placeholder="Email" value="test" ng-required="true" class="form-control">
                  <valid-icon></valid-icon>
                  <loader-icon></loader-icon>
                  <error-message class="ng-email">Please type a correct email</error-message>
                  <error-message class="ng-required">Field is required</error-message>
                </form-control>
                <form-control class="col-md-6">
                  <label for="email2">Number</label>
                  <input name="number" id="number3" ng-model="number3" autocomplete="number" type="number" placeholder="number" value="13" ng-required="true" class="form-control">
                  <valid-icon></valid-icon>
                  <loader-icon></loader-icon>
                  <error-message class="ng-required">Field is required</error-message>
                  <error-message class="ng-number">Please type a number</error-message>
                </form-control>
              </div>
              <div class="col-md-12">
                <form-control class="col-md-6">
                  <label for="minLength4">Min Length</label>
                  <input name="minLength" id="minLength4" ng-model="minLength4" autocomplete="minLength" type="text" placeholder="Min Length" value="test" ng-required="true" ng-minlength="3" class="form-control">
                  <valid-icon></valid-icon>
                  <loader-icon></loader-icon>
                  <error-message class="ng-required">Field is required</error-message>
                  <error-message class="ng-minlength">Please type more than 3 characters</error-message>
                </form-control>
                <form-control class="col-md-6">
                  <label for="minLength4">Max Length</label>
                  <input name="maxlength" id="maxlength5" ng-model="maxlength5" autocomplete="maxlength" type="text" placeholder="Max length" value="test" ng-required="true" ng-maxlength="3" class="form-control">
                  <valid-icon></valid-icon>
                  <loader-icon></loader-icon>
                  <error-message class="ng-required">Field is required</error-message>
                  <error-message class="ng-maxlength">Please type less than 3 characters</error-message>
                </form-control>
              </div>
              <div class="col-md-12">
                <form-control class="col-md-6">
                  <label for="required6">Required false</label>
                  <input name="required" id="required6" ng-model="required6" autocomplete="required" type="text" placeholder="Required false" value="test" class="form-control">
                  <valid-icon></valid-icon>
                </form-control>
                <form-control class="col-md-6">
                  <label for="mypattern7">Pattern</label>
                  <input name="mypattern" id="mypattern7" ng-model="mypattern7" autocomplete="mypattern" type="password" placeholder="Pattern" value="test" ng-required="true" ng-pattern="/((?=.*[a-z])(?=.*[A-Z]).{8,64})/" class="form-control">
                  <valid-icon></valid-icon>
                  <loader-icon></loader-icon>
                  <error-message class="ng-required">Field is required</error-message>
                  <error-message class="ng-pattern">Ensure that value is 8 to 64 characters long and contains a mix of upper and lower case characters</error-message>
                </form-control>
              </div>
              <div class="col-md-12">
                <form-control class="col-md-6">
                  <label for="isUnique8">isUnique</label>
                  <input name="isUnique" id="isUnique8" ng-model="isUnique8" autocomplete="isUnique" type="text" placeholder="isUnique" value="test" is-unique="isUnique.json" ng-required="true" class="form-control">
                  <valid-icon></valid-icon>
                  <loader-icon></loader-icon>
                  <error-message class="is-uinique">Please type a unique name</error-message>
                  <error-message class="ng-required">Field is required</error-message>
                </form-control>
                <form-control class="col-md-6">
                  <label for="remoteValidation11">remoteValidation</label>
                  <input name="remoteValidation"
                         id="remoteValidation11"
                         class="form-control"
                         type="text"
                         ng-model="ValidationForm.remoteValidation11"
                         ng-required="true"
                         remote-validation="http://isemail.info/jsonp=JSON_CALLBACK/:value"
                         remote-validation-map-data="{value:ValidationForm.remoteValidation11}"
                         remote-validation-data-type="jsonp"
                         remote-validation-error-message-path="category"
                         remote-validation-is-valid-path="category"
                         remote-validation-is-valid-test-regx="/Address is valid/gi">
                  <valid-icon></valid-icon>
                  <loader-icon></loader-icon>
                  <error-message class="ng-required">Field is required</error-message>
                  <error-message class="remote-validation">Remote Error</error-message>
                </form-control>
              </div>
            </div>
          </form-tab>
        </form-tabs>
      </form>
    </div>
    <!--script(src="assets/js/vendor.js")-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="bower_components/poly-form-validation/lib/js/poly-form-validation.min.js"></script>
  </body>
</html>
